body {
    background-color: #F1F1F2;
    font-family: "EB Garamond";
    font-size: 18px;
    position: fixed;
    user-select: none;
}

.title-container {
    font-family: "Cookie";
    font-size: 6em;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
}

.values-container {
    width: 725px;
    height: 500px;
    position: fixed;
    overflow: auto;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}

.values-container-cards {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: black;
    padding: 10px;
    flex-wrap: wrap;
}

.values {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    font-size: 0.80em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: gray;
    box-sizing: border-box;
}

.values:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px gray;
}

.startup-message-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 175px;
}

.startup-message-container-text {
    background-color: #3a3e3f;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 0.95em;
    border-radius: 10px;
}

.session-container {
    position: fixed;
    z-index: 1;
    top: 250px;
    left: 50%;
    margin-left: -50px;
}

.session-container-id {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
}

.game-container {
    position: fixed;
    top: 190px;
    left: -7.5%;
}

.game-container-board {
    border-radius: 150px;
    box-shadow: 0 0 0 1px #555;
}

.title-container-2 {
    font-family: "Cookie";
    font-size: 6em;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.values-container-2 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 250px;
    position: fixed;
    right: 1%;
    top: 125px;
}

.values-container-cards-2 {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: black;
    padding: 10px;
    flex-wrap: wrap;
}

.values-2 {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 30px;
    margin: 3px;
    text-align: center;
    font-size: 0.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: gray;
    box-sizing: border-box;
}

.values-2:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px gray;
}

.main-menu-container-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #3a3e3f;
    margin: 15px;
    position: fixed;
    color: white;
    z-index: 1;
}

.main-menu-container-element:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px gray;
}

.values-container-title-text {
    position: fixed;
    top: 150px;
    right: 5%;
    font-size: 1.5em;
}

.community-info-title-container-text {
    position: fixed;
    top: 150px;
    left: 5%;
    font-size: 1.5em;
}

.play-game-container-button {
    position: fixed;
    width: 75px;
    height: 50px;
    margin-left: -37.5px;
    margin-top: -25px;
    left: 50%;
    bottom: 2%;
    border-radius: 10px;
    outline: none;
    background-color: white;
    z-index: 1;
    border: 1px solid transparent;
    font-size: 0.80em;
    color: gray;
}

.play-game-container-button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 1px gray;
    color: black;
}

#budget-container-bar {
    box-shadow: 0 0 0 1px #555555;
    position: fixed;
    bottom: 3%;
    left: 50%;
    margin-left: -40%;
}

svg > g > g:last-child { 
    pointer-events: none 
}

.media-container-box {
    position: fixed;
    font-family: "Playfair Display";
    resize: none;
    font-size: 18px;
    width: 300px;
    height: 200px;
    right: 2%;
    top: 275px;
    outline: none;
    text-align: left;
    font-size: 0.8em;
    text-align: center;
    background-color: white;
    text-align: left;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px black;
}

.popup {
    position: fixed;
    width: 500px;
    height: 300px;
    background-color: white;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    box-shadow: 0 0 0 1px black;
}

.popup-value {
    position: relative;
    width: 500px;
    font-size: 1.25em;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.popup-description {
    padding: 10px;
}

.popup-button {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    bottom: 5%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 0 1px #555;
    outline: none;
    border: 1px solid transparent;
}

.popup-button:hover {
    box-shadow: 0 0 0 1px black;
    background-color: #3a3e3f;
    color: white;
}

.popup-1 {
    position: fixed;
    width: 500px;
    height: 300px;
    background-color: white;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    box-shadow: 0 0 0 1px black;
}

.popup-1 button {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 5%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 0 1px #555;
    outline: none;
    border: 1px solid transparent;
    margin-left: -25px;
}

.popup-1 button:hover {
    box-shadow: 0 0 0 1px black;
    background-color: #3a3e3f;
    color: white;
}

.popup-1-button-select {
    left: 40%;
}

.popup-1-button-cancel {
    left: 60%;
}

.popup-1-value {
    position: relative;
    width: 500px;
    font-size: 1.25em;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.popup-1-description {
    padding: 10px;
}